<div id=lienhe>
    <h2>THÔNG TIN LIÊN HỆ</h2>
        <H3>CÔNG TY TNHH GIẢI PHÁP NHANH VÀ HIỆU QUẢ (FES)</H3>
            <P  class=tt>
                <i id=dc class="fas fa-map-marker-alt"></i>
                P 5.05 – Nhà A, làng sinh viên Hacinco (số 79) - đường Ngụy Như Kon Tum 
                – Thanh Xuân - Hà Nội
            </P>
            <P  class=tt>
                <i id=phone class="fas fa-phone-square-alt"></i>
                <B> (0246) 662 8890 – Mobile: 0982 258 419 (Ms Hằng)</B>
            </P>
            <P  class=tt>
                <i id=mail class="fas fa-envelope-square"></i>
                <B> info@fescom.vn</B>
            </P>
            <P  class=tt>
                <i id=fb class =icon class="fab fa-facebook-square"></i>
                <B> https://www.facebook.com/fes.com.vn</B>
            </P>
</div>