h3 {
    margin-top: 100px;
}

div{
    font-size: 17px;
    text-align: justify;
    padding: 21px;
    padding-top:0px;
}

li{
    font-size: 17px;
    text-align: justify;
}

ul{
    padding-right: 21px;
}