<div class = tienich>
    <div id=tintuc>
        <div id=tieudetintuc>
            <b>
                <a href=''>TIN TỨC</a>
            </b>
        </div>
        <div class=kienthuc>
            <app-tintuc1></app-tintuc1>
        </div>
        <div class=kienthuc>
            <app-tintuc2></app-tintuc2>
        </div>
        <div class=kienthuc>
            <app-tintuc3></app-tintuc3>
        </div>
    </div>
    <div id=kienthuc>
        <div id=tieudekienthuc>
            <b>
                <a href=''>KIẾN THỨC</a>
            </b>
        </div>
        <div class=kienthuc>
            <app-kienthuc1></app-kienthuc1>
        </div>
        <div class=kienthuc>
            <app-kienthuc2></app-kienthuc2>
        </div>
        <div class=kienthuc>
            <app-kienthuc3></app-kienthuc3>
        </div>
    </div>
    <div id=nhanxet>
        <div id=tieudenx>
            <b>
                <a href=''>NHẬN XÉT CỦA KHÁCH HÀNG</a>
            </b>
        </div>
        <app-nhanxetkh></app-nhanxetkh>
    </div>
</div>