<h3>Sửa đổi dễ dàng phần mềm EFFECT đang sử dụng</h3>

<div>
    Công ty TNHH Giải pháp nhanh và Hiệu Quả – FES xin gửi tới Quý khách hàng lời chào trân trọng và
 lời cảm ơn sâu sắc vì đã tin dùng phần mềm kế toán quản trị EFFECT trong suốt thời gian qua. 
 Kính chúc Quý khách hàng ngày càng phát triển và tăng trưởng phồn thịnh.<br><br>

    Quý khách hàng đang sử dụng phần mềm EFFECT một trong các phiên bản:
    <ul>
        <li>EFFECT 2.0</li>
        <li>EFFECT-SQL 3.0</li>
        <li>EFFECT-SQL 4.0</li>
        <li>EFFECT-SQL 5.0</li>
        <li>EFFECT-ERP</li>
        <li>ERP-Life</li>
    </ul>
    <br>
 Và vẫn đang thực sự chưa thỏa mãn các yêu cầu?<br>
    Chúng tôi với đội ngũ kỹ thuật lâu năm và kinh nghiệm sẽ giúp Quý khách hàng cảm thấy hài lòng hơn
    với việc customize thêm các phần hành: 
    <ul>
        <li>Viết lại quy trình giá thành theo yêu cầu thực tiễn</li>
        <li>Thêm các báo cáo có logic</li>
        <li>Thêm các tính năng, tiện ích phù hợp với code nguồn phần mềm</li>
        <li>Và các đặc thù khác nếu có</li>
    </ul>
    <br>
Chúng tôi cam kết sẽ mang lại cho Quý khách hàng lợi ích tốt nhất khi hợp tác với chúng tôi!
</div>