<h3>Dịch vụ</h3>
<div>Công ty TNHH Giải pháp nhanh và Hiệu Quả – FES xin gửi tới Quý khách hàng lời chào trân trọng!<br>
    Bên cạnh các sản phẩm phần mềm kế toán của công ty, công ty còn cung cấp các dịch vụ như:
    <ul>
        <li>Các gói bảo trì phần mềm EFFECT</li>
        <li>Dịch vụ tùy chỉnh, cài đặt phần mềm EFFECT theo nhu cầu của từng khách hàng</li>
        <li>Đào tạo sử dụng các phần mềm do công ty cung cấp</li>
    </ul>
    FES xin cam kết sẽ mang lại giá trị tốt nhất tới những khách hàng đã tin tưởng và
     lựa chọn dịch vụ của FES!
    <br><br>
    <i>Xin chân thành cảm ơn!</i>
</div>
