<h2>SẢN PHẨM</h2>
<p>
    Nếu như trước đây, Công ty Cổ phần phần mềm hiệu quả xanh (GREEN EFFECT) chỉ cung cấp dòng sản phẩm
    Customize cho mảng doanh nghiệp vừa và lớn thì giờ đây cả các doanh nghiệp nhỏ cũng có thể lựa chọn được 
    dòng sản phẩm phần mềm kế toán quản trị EFFECT tương ứng phù hợp về tính năng, giá cả và đặc biệt là đơn 
    giản, dễ sử dụng.<br>
    Với mục tiêu cung cấp phần mềm kế toán, phần mềm quản lý cho tất cả các doanh nghiệp từ nhỏ đến lớn hoạt
    động tại Việt nam, FES là đại lý độc quyền khu vực miền Bắc và miền Trung của GREEN EFFECT chủ trương 
    cung cấp ra thị trường dãy sản phẩm kế toán và quản lý doanh nghiệp rộng lớn, đảm bảo bất kỳ doanh
    nghiệp nào cũng có thể lựa chọn được dòng sản phẩm phù hợp cả về tính năng và đặc biệt với giá 
    cả phù hợp.<br>
    Các dòng sản phẩm kế toán Customize bao gồm EFFECT 2.0, EFFECT-SQL 3.0, EFFECT-SQL 4.0, EFFECT-SQL 5.0. 
    Đây là các dòng sản phẩm phần mềm kế toán quản trị có thể sửa đổi theo yêu cầu đặc thù riêng của doanh 
    nghiệp trong quá trình triển khai phần mềm, đáp ứng cho mảng doanh nghiệp vừa và lớn có quy mô và mức 
    độ yêu cầu sửa đổi phần mềm khác nhau theo yêu cầu riêng.<br>
    Hệ thống phần mềm quản lý tổng thể ERP-Life gồm nhiều modules trong đó module Kế toán quản trị phục vụ 
    cho việc quản lý tổng thể doanh nghiệp, là bổ xung đầy đủ cho các dòng sản phẩm của GREEN EFFECT trong 
    việc đáp ứng nhu cầu quản lý tổng thể của doanh nghiệp bất kỳ.<br><br>
    <b>Sau đây là tư vấn cho lựa chọn của doanh nghiệp giữa các dòng sản phẩm của GREEN EFFECT:</b><br><br>
    <b>EFFECT 2.0:</b> Nếu doanh nghiệp bạn không lớn, nhưng có nhiều nghiệp vụ đặc thù khác biệt cần yêu cầu sửa 
    đổi phần mềm: bạn cần chọn phiên bản phần mềm Customize cho doanh nghiệp vừa và nhỏ là EFFECT 2.0. 
    Phiên bản này trước đây có tên là Visual EFFECT 2.0. Là phiên bản phần mềm customize, có thể sửa đổi 
    theo yêu cầu và đang được sử dụng tại rất nhiều doanh nghiệp<br><br>
    <b>EFFECT-SQL 3.0:</b> Nếu doanh nghiệp bạn lớn hơn và có nhiều nghiệp vụ đặc thù khác biệt cần yêu cầu sửa đổi
    phần mềm: bạn cần chọn phiên bản phần mềm Customize cho doanh nghiệp vừa và lớn là EFFECT-SQL 3.0.
    Phiên bản này trước đây có tên là Visual EFFECT-SQL 3.0. Phiên bản phần mềm customize này hiện cũng
    đang được sử dụng rất nhiều tại các doanh nghiệp<bR><br>
    <b>EFFECT-SQL4.0:</b> Nếu doanh nghiệp bạn lớn hoặc có hoạt động phân tán và có nhu cầu quản lý tập trung phần
    mềm tại trung tâm, tất các điểm phân tán hoặc một số điểm phân tán chạy phần mềm từ xa qua đường
    Internet (VPN) thì bạn có thể lựa chọn dòng sản phẩm EFFECT-SQL 4.0. Dòng sản phẩm này giống như 
    dòng sản phẩm EFFECT-SQL 3.0, nhưng được cải tiến để chạy được trên mạng tốc độ thấp là VPN để có 
    thể vận hành phần mềm từ xa. Trường hợp doanh nghiệp bạn không cần chạy phần mềm từ xa nhưng số 
    lượng máy trạm tác nghiệp trên phần mềm ở mức trên 40 máy thì bạn cũng cần xem xét lựa chọn dòng 
    sản phẩm EFFECT-SQL 4.0 vì dòng sản phẩm này cho phép hàng trăm máy trạm hoạt động trên mạng nội bộ.<br><br>
    <b>EFFECT-SQL 5.0:</b> là 01 module của phiên bản ERP-Life. Phiên bản EFFECT-SQL 5.0 được hoàn thiện hơn 
    với nhiều tính năng như giao diện 3D, tăng tốc khi chạy trên mạng internet, tăng tốc độ xử lý báo cáo, 
    tối ưu chức năng phân quyền trên hệ thống chạy qua môi trường internet .<br><br>
    <b>ERP-Life:</b> Và cuối cùng, nếu doanh nghiệp bạn không chỉ có nhu cầu về phần mềm kế toán mà còn có các 
    nhu cầu quản lý khác (như Bán hàng, Nhân sự, Sản xuất…) một cách tổng thể: bạn có thể lựa chọn sản
    phẩm ERP-Life, là hệ thống phần mềm quản lý tổng thể doanh nghiệp, bao gồm nhiều modules trong đó
    bao gồm cả module Kế toán quản trị<br>
    Dù doanh nghiệp của bạn có quy mô như thế nào và khả năng đầu tư của bạn đến đâu, FES cũng 
    sẵn sàng có các dòng sản phẩm phù hợp để đáp ứng yêu cầu của bạn, bây giờ cũng như sau này. 
    Hướng tới mục tiêu chất lượng dịch vụ tốt, giá cả phải chăng.<br>
</p>
